<div class='container w-fit md:w-auto max-w-5xl mx-auto p-4'>

  <div class='w-full'>
    <div class='w-full border border-slate-200 rounded-lg space-y-2 p-4 mt-2'>
      <div class='section-1 flex flex-row grow'>
        <div class='py-1 px-1 hover:bg-gray-200 hover:cursor-pointer rounded-md w-auto basis-1/3'>
          <a href="/books" class='text-black/70 hover:text-black/100'><i data-lucide='book-open-text'
              class='w-4 inline-block mr-2'></i>Manage Books</a>
        </div>
        <div class='py-1 px-1 hover:bg-gray-200 hover:cursor-pointer rounded-md w-auto basis-1/3'>
          <a href="/students" class='text-black/70 hover:text-black/100'><i data-lucide='users'
              class='w-4 inline-block mr-2'></i>Manage Students</a>
        </div>
        <div class='py-1 px-1 hover:bg-gray-200 hover:cursor-pointer rounded-md w-auto basis-1/3'>
          <a href="/book-issues" class='text-black/70 hover:text-black/100'><i data-lucide='scroll-text'
              class='w-4 inline-block mr-2'></i>Manage Book Issue</a>
        </div>

      </div>
    </div>
  </div>

  <div class='grid grid-cols-4 grid-rows-6'>
   
    <div class='flex flex-col md:flex-row md:flex-wrap md:content-start col-span-full row-start-1 row-span-5'>

      <div class='w-full h-16 flex items-center p-2'>

        <div class='self-start flex-1'>
          <h1 class='text-lg'>Students cohort</h1>
          <p class='text-xs text-gray-400'>A cohort of student registered in
            the library</p>
        </div>

        <div>
          <div class='border border-slate-300 rounded-lg hover:bg-slate-200 p-2'>
            <i data-lucide='layout-list' class='w-4 h-4'></i>
          </div>
        </div>

        <div>
          <div class='border border-slate-300 rounded-lg hover:bg-slate-200 p-2 ml-1'>
            <i data-lucide='layout-grid' class='w-4 h-4'></i>
          </div>
        </div>

      </div>

      <div class="w-full p-2">
        <button type="button"
          class="text-gray-900 bg-gradient-to-r from-teal-200 to-lime-200 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 focus:ring-4 focus:outline-none focus:ring-lime-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
          <a href="/students/create"> Add Student </a>
        </button>
      </div>

      <div class='w-full p-2'>
        <div class='relative overflow-x-auto'>
          <table class='w-full text-sm text-left rtl:text-right text-gray-500'>
            <thead class='text-xs text-gray-700 uppercase bg-gray-50'>
              <tr>
                <th scope='col' class='px-6 py-3'>
                  Index No
                </th>
                <th scope='col' class='px-6 py-3'>
                  Name
                </th>
                <th scope='col' class='px-6 py-3'>
                  Grade
                </th>
                <th scope='col' class='px-6 py-3'>
                  Gender
                </th>
                <th scope='col' class='px-6 py-3'>
                  Actions
                </th>
              </tr>
            </thead>
            <tbody>
              {{#each items}}
              <tr class='bg-white'>
                <th scope='row' class='px-6 py-4 font-medium text-gray-900 whitespace-nowrap'>
                  {{indexNumber}}
                </th>
                <td class='px-6 py-4'>
                  {{name}}
                </td>
                <td class='px-6 py-4'>
                  {{grade}}
                </td>
                <td class='px-6 py-4'>
                  {{gender}}
                </td>
                <td class='px-6 py-4'>
                  <a href='/students/{{id}}/edit'><i data-lucide='pencil'
                      class='w-4 inline-block mr-2 hover:text-green-500'></i></a>
                  <a href='/students/{{id}}/delete'>
                    <i data-lucide='trash' class='w-4 inline-block mr-2 hover:text-red-500'></i>
                  </a>
                </td>
              </tr>
              {{/each}}

            </tbody>
          </table>
        </div>

      </div>

    </div>

    <div class='row-start-6 row-span-full col-span-full h-fit flex justify-center'>

      <nav aria-label="Page navigation example">
        <ul class="inline-flex -space-x-px text-base h-10">

          {{#paginate-direction pagination.currentPage pagination.totalPages 'PREVIOUS'}}
          <li>
            <a href="books?page={{this.data}}"
              class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 ">Previous</a>
          </li>
          {{/paginate-direction}}

          {{#paginate pagination.currentPage pagination.totalPages}}
          <li>
            {{#if this.isCurrentPage}}
            <a href="/books?page={{this.data}}" aria-current="page"
              class="flex items-center justify-center px-4 h-10 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700">{{this.data}}</a>
            {{else}}
            <a href="/books?page={{this.data}}"
              class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 ">{{this.data}}
            </a>
            {{/if}}
          </li>
          {{/paginate}}

          {{#paginate-direction pagination.currentPage pagination.totalPages 'NEXT'}}
          <li>
            <a href="books?page={{this.data}}"
              class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 ">Next</a>
          </li>
          {{/paginate-direction}}


        </ul>
      </nav>

    </div>

  </div>

</div>